<mdb-card dark="true">
    <!--Card image-->
    <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img [src]="cardData.imageLink"></mdb-card-img>
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--/.Card image-->
    <!--Card content-->
    <mdb-card-body class="elegant-color white-text">
        <!--Title-->
        <mdb-card-title>
            <h4>{{cardData.title}}</h4>
        </mdb-card-title>
        <hr class="hr-light">
        <!--Text-->
        <mdb-card-text class="white-text ">
            <div id="parg" [innerHTML]="cardData.cardContent" style="height: 105px; overflow: hidden;"></div>
        </mdb-card-text>
        <a (click)="getPostById(cardData.id!)" class="white-text d-flex justify-content-end">
            <h5 class="waves-light white-text" mdbWavesEffect>Read more
                <span>
                    <mdb-icon fas icon="chevron-right" class="pl-2 waves-light" mdbWavesEffect></mdb-icon>
                </span>
            </h5>
        </a>
    </mdb-card-body>
    <!--/.Card content-->
    <div class="card-footer">
        <small class="text-muted">{{cardData.ceationDate  | date:'longDate'}}</small>
    </div>
</mdb-card>
<!--/.Card-->
