<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <div class="header">
        <h3 mat-dialog-title>Update Password</h3>
    </div>
    <div class="dialog">

        <div mat-dialog-content>

            <mat-form-field>
                <input matInput type="password" placeholder="Oled Password" formControlName="oldPassword">
            </mat-form-field>

            <mat-divider></mat-divider>


                <mat-form-field>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm New password" formControlName="newPasswordConfi">
                </mat-form-field>


        </div>

        {{passwordForm.valid}}
        <div mat-dialog-actions>
            <button type="submit" mat-raised-button class="bg-success text-white"
                style="width: 120px;">{{buttonCaption}}<mat-icon>{{buttonicon}}</mat-icon></button>
            <button mat-raised-button color="warn" (click)="closeForm()" style="width: 120px;">Cancel<mat-icon>cancel
                </mat-icon></button>
        </div>
    </div>
</form>