<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let post of posts">
        <a (click)="getPostById(post.id!)" target="_blank">
            <div class="view w-100">
                <img class="d-block w-100" [src]="post.imageLink" [alt]="post.title">
                <div class="mask  waves-light" mdbWavesEffect style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.95), transparent); width: 100%;
        height: 50%; top:50%"></div>
            </div>
            <div class="carousel-caption">
                <h1 class="h3-responsive">{{post.title}}</h1>
            </div>
        </a>
    </mdb-carousel-item>
</mdb-carousel>

<div class="card-group ">

    <div class="col-md-4  my-5 align-items-start  " *ngFor="let post of posts | searchPost:filter! | paginate: { itemsPerPage: 6, currentPage: p } ">
        <app-post-card [card-data]=post></app-post-card>  
    </div>
    
</div>
<pagination-controls class="text-center my-pagination" (pageChange)="p = $event" ></pagination-controls>